*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #404040;
        width: 100%;
        height: 100vh;

    }

    .card {
        background-color: #242424;
        border-radius: 20px;
        width: 300px;
                padding: 20px;
    }

    .light {
        
    }

.setting {
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.setting h2 {
    color: white;
    font-size: 22px;
}

.setting button {
    background-color: #404040;  
    padding: 5px;
    border-radius: 50%;
    border: 0;
    width: 40px;
    height: 40px;
}

.theme {
   

}

.theme_title {

}

.theme_title h2 {
    font-size: 16px;
    color: white;
}

.theme_buttons > div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    border-radius: 30px;
    padding: 5px 10px;

}

.theme_buttons button {
    border: 0;
    background-color: black;
    padding: 10px 30px;
   
    color: white;
    border-radius: 10px;
}

.theme_buttons button:nth-child(2) {
    background-color: #242424;
}

.colors {
    display: flex;
    flex-direction: column;
    gap: 10px;

}
 
.colors_title h2 {
    

}

.colors_selector {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}

.colors_selector--buttons {
    display: flex;
    gap: 5px;
}

.colors_selector--buttons button {
    padding: 10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;

}

.colors_selector--custom {
    display: flex;
    align-items: center;
    gap: 5px;
}

.colors_selector--custom h3 {
    font-size: 16px;
    color: white;
}

.colors_selector--custom button {
    width: 30px;
    height: 30px;
    border-radius: 50px;
}